
.multicolortext {
  background-image: linear-gradient(to left, violet, indigo, green, blue, pink, orange, red);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}
.wave{
    background-image:url ("F:\3 sep 2022\workspace\Angular\medilab\src\assets\27884-light-purple-wave-background-design.jpg;")
}

