<div class="container py-2 m-auto mt-1 text-light shadow-sm-2">
    <div class="row">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid ms-5">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100 d-flex justify-content-around">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">
                                <img class="m-auto" src="../../../assets/talk to doc.jpg" alt="" width="75" height="75">
                                <h6>Talk To Doctor</h6>
                            </a>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/medicine">
                                <img class="m-auto" src="../../../assets/medicines.jpg" alt="" width="75" height="75">
                                <h6 class="ms-2">Medicine</h6>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <img class="m-auto" src="../../../assets/surgery.jpg" alt="" width="75" height="75">
                                <h6 class="ms-2">Surgery</h6>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <img class="m-auto" src="../../../assets/inshurance.jpg" alt="" width="75" height="75">
                                <h6 class="ms-2">Insurance</h6>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <img class="m-auto" src="../../../assets/lab.jpg" alt="" width="75" height="75">
                                <h6>Lab Test & Packages</h6>
                            </a>
                        </li>

                    </ul>

                </div>
            </div>
        </nav>
    </div>
</div>

<!-- category section -->
<div class="container py-2 m-auto shadow-sm"></div>

<!-- consult section -->

<div class="container py-3 mt-2 w-75 border shadow-sm rounded-pill">
    <div class="row text-center">
        <div class="col-md-6">
         <h6 class="mt-3">Consult With Top Doctors, 24 x 7</h6>
       </div>
       <div class="col-md-5 mt-2 w-30 border py-2 rounded-pill">
          <h6 class="text-primary">Start Consultation<i class="bi bi-arrow-right ms-3"></i></h6>
       </div>
  </div>
</div>
<!-- corosul -->

<div class="container mt-1 py-4">
    <div class="row">
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://www.medibuddy.in/assets/gold-home.webp" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://www.medibuddy.in/assets/singleConsult.webp" class="d-block w-100" alt="...">
                </div>
                <!-- <div class="carousel-item">
                    <img src="https://link.medibuddy.app/KZdgE5uleob?~channel=medibuddyInWeb&~campaign=null&~feature=null" class="d-block w-100" alt="...">
                </div> -->
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
     </div>
</div>
<div class="container mt-4 shadow-sm-2">
    <!-- <div class="row"> -->
        <img src="https://www.medibuddy.in/assets/ABHA.svg" width="1000">
    <!-- </div> -->
</div>
<div class="container py-2 m-auto shadow-sm"></div>

<!-- consult section -->

<div class="container py-3 mt-2 w-75 shadow-sm">
    <div class="row text-center mt-3">
        <div class="col-md-6 text-center">
            <h6 class="font-size=40px">Watch Amitabh Bachchan emphasize the<br>importance of Unlimited Expert Doctor<br>Consultations online for the entire family.</h6>
         <h3 class="mt-4">DownLoad The App</h3>
         <a href=""><img src="https://1000logos.net/wp-content/uploads/2020/08/apple-app-store-logo.jpg" height="50"></a>
         <a href="" class="m-2"><img src="https://www.designpieces.com/wp-content/uploads/2016/02/google-play-badge.png" height="50"></a>
         </div>
       <div class="col-md-6 mt-1">
        <video width="100%" height="100%" controls="" poster="https://www.medibuddy.in/assets/ab-main-page.webp" class="br-10"><source src="https://www.medibuddy.in/assets/mb-amitabh.mp4" type="video/mp4"></video>
       </div>
  </div>
</div>

<!--  -->
<div class="container py-2 m-auto shadow-sm ">
    <!-- <svg viewBox="0 0 500 500"
            preserveAspectRatio="xMinYMin meet">
              
            <path d="M0, 100 C150, 200 350,
                0 500, 100 L500, 00 L0, 0 Z"
                style="stroke:none; fill:rgb(226, 196, 200);">
            </path>
           
        </svg> -->
        <div class="container mt-1 py-3 d-flex justify-content-center">
            <div class="row text-center m-auto">
                <div class="col-md-4 p-l-0 bold">
                    <h3 class="multicolortext m-1 ">Medibuddy Gold</h3>
                    <h4 class="multicolortext mt-4">Give the care your family deserves</h4>
                    <h5 class="mt-3">Unlimited Consultations with top Doctors for 6 family members in 18+ specialities
                    </h5>
                    <div class="col-md-6 m-5 bg-warning rounded-pill w-95 h-80">
                        <h6 class="">Buy Medibuddy Gold<i class="bi bi-arrow-right ms-3"></i></h6>
                    </div>
                </div>
        
                <div class="col-md-8 bold">
                    <div class="row">
                        <div class="col-md-5 mt-1">
                            <div class="card shadow rounded-5" style="width: 15rem; height: 18rem;">
                                <img src="../../../assets/1.svg " height="120" width="100" class="card-img-right" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title multicolortext bold text-right">Unlimited Free Consultations</h5>
                                    <p class="card-text">Get unlimited free consultations with all <strong>doctors 24x7</strong>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 mt-4">
                            <div class="card shadow rounded-5" style="width: 15rem; height: 18rem;">
                                <img src="../../../assets/family.svg" height="120" width="100" class="card-img-right" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title multicolortext bold text-right">Free For Full Family</h5>
                                    <p class="card-text">Free consultations for upto <strong>6 family members</strong></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 mt-4">
                            <div class="card shadow rounded-5" style="width: 15rem; height: 18rem;">
                                <img src="../../../assets/free-health.svg" height="120" width="100" class="card-img-right"
                                    alt="...">
                                <div class="card-body">
                                    <h5 class="card-title multicolortext bold text-right">Free For All Health Problems</h5>
                                    <p class="card-text">Consult with any doctor from <strong>18 departments</strong></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 mt-5">
                            <div class="card shadow rounded-5" style="width: 15rem; height: 18rem;">
                                <img src="../../../assets/video-consultation.svg" height="120" width="100"
                                    class="card-img-right" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title multicolortext bold text-right">Video Consultations<i class="bi bi-arrow-right ms-3"></i></h5>
                                    <p class="card-text">Video Consults with top doctors </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
</div>


        <div class="container py-3 m-auto shadow-sm">
            
             <div class="mt-3">
                <div class="row">
               <h2 ng-class="bold xxlTxt m-b-30 text-center">Insurance</h2>
               <br>
               <p ng-class="bold m-b-15 mdTxt">Get access to all your Health insurance services - View Policy and Track Claims, Go Cashless with<br> network hospitals and intimate Hospitalization</p>
              </div>
             <div class="col-md-10 mt-3 py-2 sm-4">
            <div class="row justify-content-around">
                <div class="col-md-2">
                    <div class="card shadow rounded-5" style="width: 10rem; height: 16rem;">
                        <img src="../../../assets/ecard.svg" height="70" width="70" class="card-img-bottom-right" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">E-Card<i class="bi bi-arrow-right ms-3"></i></h5>
                            <p class="card-text">Get e-cards for you and your family members</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card shadow rounded-5" style="width: 10rem; height: 16rem;">
                        <img src="../../../assets/claims.svg" height="70" width="70" class="card-img-bottom-right" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Claims<i class="bi bi-arrow-right ms-3"></i></h5>
                            <p class="card-text">Track your claims in real-time</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card shadow rounded-5" style="width: 10rem; height: 16rem;">
                        <img src="../../../assets/hospitalization.svg" height="70" width="70" class="card-img-bottom-right" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Plan<br>Hospitalization<i class="bi bi-arrow-right ms-3"></i></h5>
                            <p class="card-text">Plan and Intimate hospitalization at trusted hospitals</p>
                        </div>
                    </div>
                </div>
        
                <div class="col-md-2">
                    <div class="card shadow rounded-5" style="width: 10rem; height: 16rem;">
                        <img src="../../../assets/network-hospitals.svg" height="70" width="70" class="card-img-bottom-right"
                            alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Network<br>Hospitals<i class="bi bi-arrow-right ms-3"></i></h5>
                            <p class="card-text">Search for the nearest Network hospital to go cashless</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card shadow rounded-5" style="width: 10rem; height: 16rem;">
                        <img src="../../../assets/EmpanelHosp.svg" height="70" width="70" class="card-img-bottom-right"
                            alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Empanel <br>Hospitals<i class="bi bi-arrow-right ms-3"></i></h5>
                            <p class="card-text">Become a part of Network Hospitals</p>
                        </div>
                    </div>
                </div>
        
            </div>
        </div>
        </div>

        
        <div class="container mt-4 shadow-sm-2 mt-5">
            <!-- <div class="row"> -->
                <img src="https://www.medibuddy.in/assets/surgery.svg" class="border" width="1000">
            <!-- </div> -->
        </div>

        <div class="container mt-4 shadow-sm-2 mt-5 py-4">
            <div class="row text-center m-auto">
                <div class="col-md-6">
                    <a href=""><img src="../../../assets/mb-gold.webp" class="full-width auto-height dsktop" width="500"height="300"></a>
                </div>
                <div class="col-md-6">
                    <a href="" class="m-2"><img src="../../../assets/careers.webp" class="full-width auto-height dsktop"
                        width="500"height="300"></a>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

<!-- footer -->



      