<footer>
    <div class="row">
        <div class="col">
          <h3>Health</h3>
          <ul>
          <li><a href="">Medibuddy Gold</a></li>
          <li><a href="">Book Medicine</a></li>
          <li><a href="">Doctor Consultation</a></li>
          <li><a href="">Book a Lab Test</a></li>
          <li><a href="">covid Essential Items</a></li>
          <li><a href="">Dental</a></li>
          <li><a href="">cancer Care</a></li>
        </ul>             
        </div>
        <div class="col">
          <h3>Hospitalization</h3>
        <ul>
          <li><a href="">Plan Hospitalization</a></li>
          <li><a href="">Locate Hospital</a></li>
          <li><a href="">Download E-cart|Claim Forms</a></li>
          <li><a href="">TRack Claim</a></li>
        </ul>
         </div>
         
        <div class="col">
          <h3>About-Us</h3>
          <ul>
              <li><a href="">Overview</a></li>
              <li><a href="">Contact</a></li>
              <li><a href="">Careers</a></li>
              <li><a href="">Security</a></li>
              
  
          </ul>
      </div>
        
        <div class="col">
        <h3>Follow Us</h3>
        <ul>
             <li><a href="" class="bg-primary icon-size=10px"><i class="bi bi-facebook"></i></a></li>
            <li><a href=""><i class="bi bi-google"></i></a></li>
            <li><a href=""><i class="bi bi-linkedin"></i></a></li>
            <li><a href=""><i class="bi bi-twitter"></i></a></li>
            

        </ul>
    </div>
    </div>

</footer>


